<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <h5>This is the login page</h5>
    <p>Welcome to
        <%= title %>
        <form action="/" method="POST">
            <input type="email" placeholder="email" name="email">
            <input type="password" name="password" placeholder="password">
            <button>Submit</button>
        </form>
</body>

</html>