<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <h5>This is the Methods page</h5>
    <p>Welcome to
        <%= title %>rm
        <form action="/payment" method="get">
            <button>Credit card</button>
        </form>
        <form action="/payment" method="get">
            <button>Debit card</button>
        </form>
        <form action="/payment" method="get">
            <button>Netbanking card</button>
        </form>
</body>

</html>